fresh-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" id="pp">

    <!-- root element-->
    <xsd:element name="FreshSchema">
        <xsd:annotation>
            <xsd:documentation>commentaire</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <!-- to say that the element contains other elements-->
            <xsd:sequence>
                <!-- ensures child elements appear in a defined order -->
                <xsd:element name="TechnicalInfo" minOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Provenance">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="SourceOrigin"/>
                                        <xsd:element name="OriginId"/>
                                        <xsd:element name="Contribution"/>
                                        <xsd:element name="MixedSource"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CollectionContext">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="AdministrativeInformation">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="General">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="Acronym"/>
                                                  <xsd:element maxOccurs="1" minOccurs="1"
                                                  name="Title"/>
                                                  <xsd:element name="ObtainedAuthorizations">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element name="ANSM"/>
                                                  <xsd:element name="CNIL"/>
                                                  <xsd:element name="ComiteDuSecret"/>
                                                  <xsd:element name="Autre"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element name="EthicalAdvise"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="unbounded" name="Contributor">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="Name"/>
                                                  <xsd:element name="Role"/>
                                                  <xsd:element name="PID" type="PersonPIDType"/>
                                                  <xsd:element name="Address"/>
                                                  <xsd:element name="EMail"/>
                                                  <xsd:element name="Telephone"/>
                                                  <xsd:element name="Laboratory">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element name="IdRSNR"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element name="Affiliation">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element name="PID" type="OrganisationPIDType"
                                                  />
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="FundingAgent">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="Name"/>
                                                  <xsd:element name="FundingType"/>
                                                  <xsd:element name="PID" type="OrganisationPIDType"
                                                  />
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="OrganisationGovernance">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="Sponsor">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element name="Name"/>
                                                  <xsd:element name="OrganisationType"/>
                                                  <xsd:element name="PID" type="OrganisationPIDType"
                                                  />
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element name="Governance">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element name="Committee"/>
                                                  <xsd:element name="Details"/>
                                                  <xsd:element name="Other"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element name="Collaborations">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element name="NetworkConsortium"/>
                                                  <xsd:element name="Detail"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Theme">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" minOccurs="1"
                                            name="HealthTheme"/>
                                        <xsd:element maxOccurs="unbounded" minOccurs="1"
                                            name="Patology"/>
                                        <xsd:element maxOccurs="unbounded" minOccurs="1"
                                            name="Keyword"/>
                                        <xsd:element maxOccurs="unbounded" minOccurs="1"
                                            name="HealthDeterminants"/>
                                        <xsd:element name="ComplementaryInformation"/>
                                        <xsd:element maxOccurs="1" minOccurs="1" name="Summary"/>
                                        <xsd:element name="Purpose"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CollectionDescription">
                    <xsd:complexType> </xsd:complexType>
                </xsd:element>
                <xsd:element name="StudyMethodology">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Population">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="DemographicInfo">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="Sex"/>
                                                  <xsd:element name="Age"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="PopulationType"/>
                                        <xsd:element name="GeographicalCoverage">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="1"
                                                  name="Nation"/>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="1"
                                                  name="Region"/>
                                                  <xsd:element name="Detail"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="unbounded" minOccurs="1"
                                            name="InclusionCrtierion"/>
                                        <xsd:element maxOccurs="unbounded" minOccurs="1"
                                            name="ExclusionCriterion"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="RelatedDocuments">
                    <xsd:complexType> </xsd:complexType>
                </xsd:element>
            </xsd:sequence>

        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="PersonPIDType">
        <xsd:sequence>
            <xsd:element name="Id"/>
            <xsd:element name="URL"/>
            <xsd:element name="IdType">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="ORCID"/>
                        <xsd:enumeration value="IdRef"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrganisationPIDType">
        <xsd:sequence>
            <xsd:element name="Id"/>
            <xsd:element name="URL"/>
            <xsd:element name="IdType">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="ROR"/>
                        <xsd:enumeration value="SIRENE"/>
                        <xsd:enumeration value="RNSR"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
